<ion-modal-view class="modal-view">
	<ion-header-bar>
		<h1 class="title modal-title">Privacy Policy</h1>
		<a class="button button-clear" ng-click="privacy_policy_modal.hide()"><span class="icon ion-close"></span></a>
	</ion-header-bar>
	<ion-content class="padding">
    <div class="row">
      <div class="col">
        <div class="privacy-policy">
    			<p>Last modified: April 14, 2015</p>
    			<h4 class="title">Welcome to Hawaiiqpons</h4>
    			<p>At HawaiiQpons, a subsidiary of Hagadone Hawaii, Inc. dba This Week Publications, we recognize that privacy of your personal information is important. Here is information on what types of personal information we receive and collect when you use the HawaiiQpons application. We NEVER sell your personal information to third parties.</p>
    			<h4 class="title">Mobile Device Location and Home Zip Code</h4>
    			<p> receive your mobile device location in order to show you the offers and deals from businesses near your location.</p>
				<h4 class="title">Usage Information</h4>
    			<p>For our internal purposes and to continuously improve the user experience, we collect information about the basic use of the application such as clicks, favorite stores and favorite offers. This personal information is only used by HawaiiQpons to provide a better user experience and is not supplied to anyone outside HawaiiQpons. Any usage trends data which is collected by a third party on behalf of HawaiiQpons is entirely non-personal and cannot be associated with user specific information.</p>
    			<h4 class="title">Email</h4>
    			<p>Sharing an email address or logging in with a Facebook profile is not required to enjoy the many benefits of the HawaiiQpons mobile application. If you do share your email with HawaiiQpons directly or through a partner promotional offer, we will protect your contact information and never sell it to third parties. We use your email address to inform you about the new features and new versions of HawaiiQpons mobile app. You may occasionally receive email from us about new coupons or sales from your favorite retailers as well as preview of some special offers and other noteworthy items related to shopping. We hope you will find the information about the updates and offers within the email interesting, relevant and useful. Of course, if you would rather not receive this information, you may opt-out of receiving such emails by following the instructions at the bottom of each email or by contacting us at support@thisweek.com.
				</p>
				<h4 class="title">Our Contact</h4>
				<p>
					If you have any questions about this privacy policy, please email us at support@thisweek.com.
				</p>
    		</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
