<ion-view view-title="Map View" class="shop-popular-view">
  <ion-content data-tap-disabled="true">
          <map id="map" center="current-location" zoom="14" street-view-control="false">   

              <marker id="myLocation" 
                      position="{{myLoc.lat}}, {{myLoc.long}}" 
                      visible="true" 
                      animation="BOUNCE" 
                      draggable="false"
                      >
              </marker>


              <div ng-repeat="coupon in coupons | filter:filter">
                  <marker id="{{coupon._id}}" 
                          position="{{coupon.loc.lat}}, {{coupon.loc.long}}" 
                          icon="{{coupon.icon}}" on-click="openMapOffer(event, coupon)">
                  </marker>                                         
              </div>    
               <div ng-repeat="coupon in premiumCoupons | filter:filter">
                  <marker id="{{coupon._id}}" 
                          position="{{coupon.loc.lat}}, {{coupon.loc.long}}" 
                          icon="{{coupon.icon}}" on-click="openMapOffer(event, coupon)">
                  </marker>                                         
              </div>                       
          </map>
  </ion-content>
</ion-view>
