<ion-view view-title="Coupon Listing" class="shop-sale-view">
  <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()">
        </ion-refresher>    
        <ion-list class="list">     
            <a class="item item-thumbnail-left" href="#"  ng-click="openOffer(premium)" ng-repeat="premium in premiumCoupons | filter:filter | orderBy:'distance'">
              <img ng-src="{{premium.img}}" style="height:auto; width:50%;">
              <h3>{{premium.vendor}} <span class="ad_icon">Ad</span></h3>
              <p>{{premium.title}} </p>
              <p>Distance: {{coupon.distance}} mile(s)</p>  
            </a>              
   
            <a class="item item-thumbnail-left" href="#"  ng-click="openOffer(coupon)" ng-repeat="coupon in coupons | filter:filter | orderBy:'distance'">
              <!--<img src="{{coupon.icon}}">-->
              <img ng-src="{{coupon.img}}" style="height:auto; width:50%;">
              <h3>{{coupon.vendor}} </h3>
              <p>{{coupon.title}}</p>
              <p>Distance: {{coupon.distance}} mile(s)</p>
            </a>                  
        </ion-list>  
  </ion-content> 
</ion-view>


