<ion-view view-title="Coupon Listing" class="shop-sale-view">
  <ion-content>
        <ion-list>
            <ion-item class="item-button-right" ng-repeat="premium in premiumCoupons" style="background-color:rgba(0,170,0, .10);">
              <h2 class="list-text">{{premium.vendor}}</h2>
              <h3> <i class="{{premium.icon}}"></i>  {{premium.category}}</h3>
             {{premium.title}} 
              </br>
              Distance: {{premium.distance}} mile(s)
               <button class="button button-outline button-balanced">Redeem</button>              
            </ion-item>        

            <ion-item class="item-button-right" ng-repeat="coupon in coupons">
              <h2 class="list-text">{{coupon.vendor}}</h2>
              <h3> <i class="{{coupon.icon}}"></i>  {{coupon.category}}</h3>
             {{coupon.title}} 
              </br>
              Distance: {{coupon.distance}} mile(s)
               <button class="button button-outline button-balanced">Redeem</button>
            </ion-item>        

            
                           
        </ion-list>  
  </ion-content> 
</ion-view>


   <!--
    <div class="row shop-products-narrow-cards-outer">
      <div ng-repeat="coupon in coupons" class="col col-50 shop-product-narrow-card" ui-sref="app.product-detail({productId: product._id})">
        <div class="list card">
          <div class="item item-image">
            <pre-img ratio="_1_1" helper-class="main-image">
              <img ng-src="{{product.picture}}" spinner-on-load>
            </pre-img>
          </div>
          <div class="item item-body">
            <h2 class="card-title">{{product.title}}</h2>
            <p class="card-description"><b>${{product.price}}</b> - {{product.description}}</p>
          </div>
        </div>
      </div>
    </div>
    -->
