  <ion-modal-view>
    <!--
    <ion-header>
      <div style="margin: 0 auto;  height: 200px;">
       <img src="img/twlogo.png" />
      </div>
    </ion-header>    
    <ion-content>
      
      
    </ion-content>
    <ion-footer>
         <h3>{{offer.vendor}}</h3>
         <h4>{{offer.address}}</h4>
         <button class="button button-outline button-balanced" ng-click="closeOffer()">Close</button>
    </ion-footer>-->
  <div class="post-card">
  <div class="list card">
    <!--
    <div class="item item-image">
      <pre-img ratio="_3_2" helper-class="main-image" style="margin: 0 auto;">
        <img src="img/twlogo.png" spinner-on-load style="width:50%;">
      </pre-img>
    </div>
    -->
    <div class="item item-image" style="height: 150px;">
      <!--<img src="img/twlogo.png" style="width:40%; margin: 0 auto; text-align: center; margin-top: 20px;">-->
      <img ng-src={{offer.img}} style="width:40%; margin: 0 auto; text-align: center; margin-top: 20px;">
    </div>
    
    <div class="item item-image" style="height: 180px;">
      <img src="img/item.png">
    </div>
    <div class="item item-body" style="background-color: green; color: white; height: 100px; padding: 3px;">
      <h2 style="text-align: center; color: white;">{{offer.desc}}</h2>
      <h3 style="text-align: center; color: white;">exp. {{offer.expiration| date:'shortDate'}}</h3>
      <!--exp. <span class="card-moment-posted" am-time-ago="offer.expiration" style="text-align:center;"></span>-->
    </div>
    <div class="item">
      <p class="card-description" >
          <h2 style="text-align: center;">{{offer.vendor}}</h2>
          <h4 style="text-align: center;">{{offer.address}}</h4>
          {{offer.vendor_url}}
          <h4 style="text-align: center;"><a href="#" ng-click="launch(offer.vendor_url)" >Website</a></h4>
          <h4 style="text-align: center;"><a href="tel:{{offer.vendor_phone}}" target="_blank">{{offer.vendor_phone}}</a></h4>  
      </p>
    </div>
    <div class="item">     
      <p>
        <h4 style="text-align: center;">{{offer.desc2}} </h4>
        <h4 style="text-align: center;">CODE: {{offer.promo_code}}</h4> 
      </p>
      <span style="float:right;">
        <button class="button button-outline button-balanced" ng-click="closeOffer()">Close</button>
      </span>    
    </div>
    
    
  </div>
</div>  
    
</ion-modal-view>
  
  