<ion-view view-title="Map View" class="shop-popular-view">
  <ion-content data-tap-disabled="true">
          <map id="map" center="current-location"" zoom="14" street-view-control="false">   

              <marker id="myLocation" 
                      position="{{myLoc.lat}}, {{myLoc.long}}" 
                      visible="true" 
                      animation="BOUNCE" 
                      draggable="false"
                      >
              </marker>


              <div ng-repeat="coupon in coupons">
                  <marker id="{{coupon._id}}" 
                          position="{{coupon.loc.lat}}, {{coupon.loc.long}}" 
                          icon="/img/markers/{{coupon.category}}.png" on-click="openMapOffer(event, coupon)">
                  </marker>                                           
              </div>
              <info-window ng-repeat="coupon in coupons" id="{{coupon._id}}" position="{{coupon.loc.lat}}, {{coupon.loc.long}}" >
                    <div class="infoWindow">
                        <div class="content">code: {{ltd.code}}</div>
                    </div>
              </info-window>              
          </map>
  </ion-content>
</ion-view>
