<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content>
    <ion-nav-bar ng-class="{'profile-color': ('app.profile' | includedByState), 'settings-color': ('app.settings' | includedByState), 'product-color': ('app.product-detail' | includedByState), 'feed-color': ('app.feed' | includedByState), 'shop-color': ('app.shop' | includedByState), 'cart-color': ('app.cart' | includedByState), 'shipping-address-color': ('app.shipping-address' | includedByState), 'checkout-color': ('app.checkout' | includedByState)}">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content has-bouncing="false" scroll="false" class="menu-outer left-menu">
       <!-- Modified: Derrick - changed to random image -->
       <!--<div multi-bg="['http://lorempixel.com/640/1136/food']">-->
        <div multi-bg="">
        <div class="row menu-top-options">
          <div class="col col-top">
            
            <label class="toggle toggle-balanced" style="margin-left: 100px;">
              <input type="checkbox" ng-model="slider.listView">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>     
                      
            <ion-list ng-if="slider.listView">
              <div class="list">
                <!--
                <div class="item range range-balanced">
                  <i class="icon ion-ios-sunny-outline"></i>
                  <input type="range" name="radius" min="1" max="100"  ng-model="slider.radiusStr" ng-blur="updateRadius()">
                  <i class="icon ion-ios-sunny"></i>
                </div>
                -->
              </div>              
              <ion-item ui-sref-active="active" class="item-icon-left" menu-close ng-click="setFilter('')" >
                <i class="menu-icon icon ion-ios-pricetags menu-color"></i>
                <h2 class="side-menu-text">All Coupons</h2>
              </ion-item>
              <ion-item ui-sref-active="active" class="item-icon-left" menu-close ng-click="setFilter('General')">
                <i class="menu-icon icon ion-map menu-color"></i>
                <h2 class="side-menu-text">General</h2>
              </ion-item>             
              <ion-item ui-sref-active="active" class="item-icon-left" menu-close ng-click="setFilter('Attraction')">
                <i class="menu-icon icon ion-map menu-color"></i>
                <h2 class="side-menu-text">Attractions</h2>
              </ion-item>
              <ion-item ui-sref-active="active" class="item-icon-left" menu-close ng-click="setFilter('Service')">
                <i class="menu-icon icon ion-person-stalker menu-color"></i>
                <h2 class="side-menu-text">Services</h2>
              </ion-item>
              <ion-item ui-sref-active="active" class="item-icon-left" menu-close ng-click="setFilter('Dining')">
                <i class="menu-icon icon ion-wineglass menu-color"></i>
                <h2 class="side-menu-text">Dining</h2>
              </ion-item>   
              <ion-item ui-sref-active="active" class="item-icon-left" menu-close ng-click="setFilter('Entertainment')">
                <i class="menu-icon icon ion-music-note menu-color"></i>
                <h2 class="side-menu-text">Entertainment</h2>
              </ion-item>  
               <ion-item ui-sref-active="active" class="item-icon-left" menu-close ng-click="setFilter('Shopping')">
                <i class="menu-icon icon ion-cash menu-color"></i>
                <h2 class="side-menu-text">Shopping</h2>
              </ion-item>                       
            </ion-list>
            
            <ion-list ng-if="!slider.listView">
               <ion-item ui-sref-active="active" class="item-icon-left" menu-close ng-click="moveMap({lat:19.614130, lng:-155.503234})">
                <i class="menu-icon icon ion-location menu-color"></i>
                <h2 class="side-menu-text">Hawaii</h2>
              </ion-item>     
               <ion-item ui-sref-active="active" class="item-icon-left" menu-close ng-click="moveMap({lat:22.052550, lng:-159.510498})">
                <i class="menu-icon icon ion-location menu-color"></i>
                <h2 class="side-menu-text">Kauai</h2>
              </ion-item>   
              <ion-item ui-sref-active="active" class="item-icon-left" menu-close ng-click="moveMap({lat:20.776590, lng:-156.290130})">
                <i class="menu-icon icon ion-location menu-color"></i>
                <h2 class="side-menu-text">Maui</h2>
              </ion-item>  
               <ion-item ui-sref-active="active" class="item-icon-left" menu-close ng-click="moveMap({lat:21.128059, lng:-156.993255})">
                <i class="menu-icon icon ion-location menu-color"></i>
                <h2 class="side-menu-text">Molokai</h2>
              </ion-item>                       
               <ion-item ui-sref-active="active" class="item-icon-left" menu-close ng-click="moveMap({lat:21.455624, lng:-157.972412})">
                <i class="menu-icon icon ion-location menu-color"></i>
                <h2 class="side-menu-text">Oahu</h2>
              </ion-item>                 
            </ion-list>                     
          </div>
        </div>
        <div class="row menu-bottom-options">
          <div class="col col-bottom">
            <ion-list>
              <ion-item class="user-item" menu-close ui-sref="app.settings">
                <!-- We need a wrapper with width set for the preload image directive -->
                <div class="user-image-outer">
                  <pre-img ratio="_1_1" helper-class="rounded-image">
                    <img class="user-image" ng-src="{{loggedUser.picture}}" spinner-on-load>
                	</pre-img>
                </div>
                <h2 class="side-menu-text">{{loggedUser.name}}</h2>
                <i class="menu-icon icon ion-gear-b menu-color"></i>

                <div class="user-inbox">

                  <!--<span class="inbox-unread">13</span>-->
                </div>

              </ion-item>
              <!--
              <ion-item class="full-width-item" menu-close ui-sref="app.shop.sale">
                <button class="button button-full button-positive">
                  Season Sale!
                </button>
              </ion-item>
              -->
            </ion-list>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
